@page
@model Er.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="row row-cols-1">
    <div class="col">
        <div class="py-2">
            <h2 class="fw-bold">Claim your rebate</h2>
            <h4 class="fw-bold mb-3">Select a rebate to begin</h4>
        </div>
        <div class="py-3">

        </div>
    </div>
    <div class="col">
        <div class="py-2">
            <h2 class="fw-bold">How it works</h2>
        </div>
    </div>
</div>