@model Er.Web.Models.ClaimViewModel
@{
    ViewData["Title"] = "Claim your rebate";
    Layout = "_Layout";
}

<div>
    @await Html.PartialAsync("Partials/_RebateForm", Model.FormData)
</div>

@section Scripts {
    <script src="~/js/main.js"></script>
}