@model Er.Web.Models.ClaimViewModel
@{
    ViewData["Title"] = "Claim your rebate";
    Layout = "_Layout";
}

<div id="form-wrapper">
    @await Html.PartialAsync("Partials/_RebateForm", Model.FormData)
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/form.js"></script>
}