@model Er.Core.Models.RebateForm
@{

}

<div class="container container-fluid px-md-5">
    @using (Html.BeginForm("Submit", "Rebate", FormMethod.Post, new { @novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "")
        <div class="step" data-step="1">
            @await Html.PartialAsync("Partials/_RebateFormStep1", Model.PersonalDetails)
        </div>
        <div class="step" data-step="2" style="display: none;">
            @await Html.PartialAsync("Partials/_RebateFormStep2", Model.ClinicDetails)
        </div>
        <div class="step" data-step="3" style="display: none;">
            @await Html.PartialAsync("Partials/_RebateFormStep3", Model.Preferences)
        </div>
    }
</div>